mixin menu-list-item(name , link)
    li.menu-item
        a.menu-link(href=link)= name


mixin data-section-item(label, name, type)
    .contenedor
        if type
            label.label(for=name)= label
            input(type=type, name=name id=name placeholder=name)
        else
            label.label(for=name)= label
            input(type="text", name=name id=name placeholder=name)